/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic Styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: rgb(124, 21, 145);
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 0;
}

section h2 {
    margin-bottom: 20px;
}

section p {
    margin-bottom: 20px;
}

/* Project Styling */
.project {
    background-color: #6a6f6d72;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(231, 214, 214, 0.1);

}

/* Add glowing effect to project cards */
@keyframes glow {
    0% {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
    50% {
        box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de, 0 0 90px #ff00de;
    }
    100% {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
}

.project:hover {
    animation: glow 1.5s infinite alternate;
}

/* Social Icons */
.social-icons {
    margin-top: 20px;
}

.social-icon {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin-right: 10px; /* Optional: Add some spacing between the icons */
}

/* Background Colors */
.bg-light {
    background-color: #f9f9f9;
    color: #333;
}

.bg-dark {
    background-color: #333;
    color: #fff;
}

